<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
 							th:replace="~{normal/base::layout(~{::section})}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show Contacts</title>
    
  </head>
  <body>
    
    <section>
	    <div class="text-center">
			
			<div class="card me-3 ms-3">
				<div class="card-body">
					<h3 class="text-center">User Contacts</h3>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Action</th>
								
							</tr>
						</thead>
						<tbody>
							
							<tr th:each="c:${contacts}">
								<th scope="row" th:text="'SCM2023 - '+${c.cId}"></th>
								<td th:text="${c.name}"></td>
								<td th:text="${c.email}"></td>
								<td th:text="${c.phone}"></td>
								<td>
									<button class="btn btn-danger btn-sm">Delete</button>
									<button class="btn btn-primary btn-sm">Update</button>
								</td>
							</tr>
							
							</tbody>
</table>
				</div>
			</div>
			
		</div>		
	</section>
    
    
  </body>
</html>